<!DOCTYPE html>
head
  title Pharma &mdash; Colorlib Template
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i' rel='stylesheet')
  link(rel='stylesheet' href='fonts/icomoon/style.css')
  link(rel='stylesheet' href='css/bootstrap.min.css')
  link(rel='stylesheet' href='css/magnific-popup.css')
  link(rel='stylesheet' href='css/jquery-ui.css')
  link(rel='stylesheet' href='css/owl.carousel.min.css')
  link(rel='stylesheet' href='css/owl.theme.default.min.css')
  link(rel='stylesheet' href='css/aos.css')
  link(rel='stylesheet' href='css/style.css')
.site-wrap
  .site-navbar.py-2
    .search-wrap
      .container
        a.search-close.js-search-close(href='#')
          span.icon-close2
        form(action='#' method='post')
          input.form-control(type='text' placeholder='Search keyword and hit enter...')
    .container
      .d-flex.align-items-center.justify-content-between
        .logo
          .site-logo
            a.js-logo-clone(href='index.html') Pharmastore
        .main-nav.d-none.d-lg-block
          nav.site-navigation.text-right.text-md-center(role='navigation')
            ul.site-menu.js-clone-nav.d-none.d-lg-block
              li.active
                a(href='index.html') Home
              li
                a(href='shop.html') Store
              li.has-children
                a(href='#') Dropdown
                ul.dropdown
                  li
                    a(href='#') Supplements
                  li.has-children
                    a(href='#') Vitamins
                    ul.dropdown
                      li
                        a(href='#') Supplements
                      li
                        a(href='#') Vitamins
                      li
                        a(href='#') Diet &amp; Nutrition
                      li
                        a(href='#') Tea &amp; Coffee
                  li
                    a(href='#') Diet &amp; Nutrition
                  li
                    a(href='#') Tea &amp; Coffee
              li
                a(href='about.html') About
              li
                a(href='contact.html') Contact
        .icons
          a.icons-btn.d-inline-block.js-search-open(href='#')
            span.icon-search
          a.icons-btn.d-inline-block.bag(href='cart.html')
            span.icon-shopping-bag
            span.number 2
          a.site-menu-toggle.js-menu-toggle.ml-3.d-inline-block.d-lg-none(href='#')
            span.icon-menu
  .site-blocks-cover(style="background-image: url('images/hero_1.jpg');")
    .container
      .row
        .col-lg-7.mx-auto.order-lg-2.align-self-center
          .site-block-cover-content.text-center
            h2.sub-title Effective Medicine, New Medicine Everyday
            h1 Welcome To Pharma
            p
              a.btn.btn-primary.px-5.py-3(href='#') Login
  .site-section
    .container
      .row.align-items-stretch.section-overlap
        .col-md-6.col-lg-4.mb-4.mb-lg-0
          .banner-wrap.bg-primary.h-100
            a.h-100(href='#')
              h5
                | Free 
                br
                |  Shipping
              p
                | Amet sit amet dolor
                strong Lorem, ipsum dolor sit amet consectetur adipisicing.
        .col-md-6.col-lg-4.mb-4.mb-lg-0
          .banner-wrap.h-100
            a.h-100(href='#')
              h5
                | Season 
                br
                |  Sale 50% Off
              p
                | Amet sit amet dolor
                strong Lorem, ipsum dolor sit amet consectetur adipisicing.
        .col-md-6.col-lg-4.mb-4.mb-lg-0
          .banner-wrap.bg-warning.h-100
            a.h-100(href='#')
              h5
                | Buy 
                br
                |  A Gift Card
              p
                | Amet sit amet dolor
                strong Lorem, ipsum dolor sit amet consectetur adipisicing.
  .site-section
    .container
      .row
        .title-section.text-center.col-12
          h2.text-uppercase Popular Products
      .row
        .col-sm-6.col-lg-4.text-center.item.mb-4
          span.tag Sale
          a(href='shop-single.html')
            img(src='images/product_01.png' alt='Image')
          h3.text-dark
            a(href='shop-single.html') Bioderma
          p.price
            del 95.00
            |  &mdash; $55.00
        .col-sm-6.col-lg-4.text-center.item.mb-4
          a(href='shop-single.html')
            img(src='images/product_02.png' alt='Image')
          h3.text-dark
            a(href='shop-single.html') Chanca Piedra
          p.price $70.00
        .col-sm-6.col-lg-4.text-center.item.mb-4
          a(href='shop-single.html')
            img(src='images/product_03.png' alt='Image')
          h3.text-dark
            a(href='shop-single.html') Umcka Cold Care
          p.price $120.00
        .col-sm-6.col-lg-4.text-center.item.mb-4
          a(href='shop-single.html')
            img(src='images/product_04.png' alt='Image')
          h3.text-dark
            a(href='shop-single.html') Cetyl Pure
          p.price
            del 45.00
            |  &mdash; $20.00
        .col-sm-6.col-lg-4.text-center.item.mb-4
          a(href='shop-single.html')
            img(src='images/product_05.png' alt='Image')
          h3.text-dark
            a(href='shop-single.html') CLA Core
          p.price $38.00
        .col-sm-6.col-lg-4.text-center.item.mb-4
          span.tag Sale
          a(href='shop-single.html')
            img(src='images/product_06.png' alt='Image')
          h3.text-dark
            a(href='shop-single.html') Poo Pourri
          p.price
            del $89
            |  &mdash; $38.00
      .row.mt-5
        .col-12.text-center
          a.btn.btn-primary.px-4.py-3(href='shop.html') View All Products
  .site-section.bg-light
    .container
      .row
        .title-section.text-center.col-12
          h2.text-uppercase New Products
      .row
        .col-md-12.block-3.products-wrap
          .nonloop-block-3.owl-carousel
            .text-center.item.mb-4
              a(href='shop-single.html')
                img(src='images/product_03.png' alt='Image')
              h3.text-dark
                a(href='shop-single.html') Umcka Cold Care
              p.price $120.00
            .text-center.item.mb-4
              a(href='shop-single.html')
                img(src='images/product_01.png' alt='Image')
              h3.text-dark
                a(href='shop-single.html') Umcka Cold Care
              p.price $120.00
            .text-center.item.mb-4
              a(href='shop-single.html')
                img(src='images/product_02.png' alt='Image')
              h3.text-dark
                a(href='shop-single.html') Umcka Cold Care
              p.price $120.00
            .text-center.item.mb-4
              a(href='shop-single.html')
                img(src='images/product_04.png' alt='Image')
              h3.text-dark
                a(href='shop-single.html') Umcka Cold Care
              p.price $120.00
  .site-section
    .container
      .row
        .title-section.text-center.col-12
          h2.text-uppercase Testimonials
      .row
        .col-md-12.block-3.products-wrap
          .nonloop-block-3.no-direction.owl-carousel
            .testimony
              blockquote
                img.img-fluid.w-25.mb-4.rounded-circle(src='images/person_1.jpg' alt='Image')
                p
                  | &ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat unde.&rdquo;
              p &mdash; Kelly Holmes
            .testimony
              blockquote
                img.img-fluid.w-25.mb-4.rounded-circle(src='images/person_2.jpg' alt='Image')
                p
                  | &ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore
                  | obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat
                  | unde.&rdquo;
              p &mdash; Rebecca Morando
            .testimony
              blockquote
                img.img-fluid.w-25.mb-4.rounded-circle(src='images/person_3.jpg' alt='Image')
                p
                  | &ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore
                  | obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat
                  | unde.&rdquo;
              p &mdash; Lucas Gallone
            .testimony
              blockquote
                img.img-fluid.w-25.mb-4.rounded-circle(src='images/person_4.jpg' alt='Image')
                p
                  | &ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore
                  | obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat
                  | unde.&rdquo;
              p &mdash; Andrew Neel
  .site-section.bg-secondary.bg-image(style="background-image: url('images/bg_2.jpg');")
    .container
      .row.align-items-stretch
        .col-lg-6.mb-5.mb-lg-0
          a.banner-1.h-100.d-flex(href='#' style="background-image: url('images/bg_1.jpg');")
            .banner-1-inner.align-self-center
              h2 Pharma Products
              p
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
        .col-lg-6.mb-5.mb-lg-0
          a.banner-1.h-100.d-flex(href='#' style="background-image: url('images/bg_2.jpg');")
            .banner-1-inner.ml-auto.align-self-center
              h2 Rated by Experts
              p
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
  footer.site-footer
    .container
      .row
        .col-md-6.col-lg-3.mb-4.mb-lg-0
          .block-7
            h3.footer-heading.mb-4 About Us
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae reiciendis distinctio voluptates
              | sed dolorum excepturi iure eaque, aut unde.
        .col-lg-3.mx-auto.mb-5.mb-lg-0
          h3.footer-heading.mb-4 Quick Links
          ul.list-unstyled
            li
              a(href='#') Supplements
            li
              a(href='#') Vitamins
            li
              a(href='#') Diet &amp; Nutrition
            li
              a(href='#') Tea &amp; Coffee
        .col-md-6.col-lg-3
          .block-5.mb-5
            h3.footer-heading.mb-4 Contact Info
            ul.list-unstyled
              li.address 203 Fake St. Mountain View, San Francisco, California, USA
              li.phone
                a(href='tel://23923929210') +2 392 3929 210
              li.email emailaddress@domain.com
      .row.pt-5.mt-5.text-center
        .col-md-12
          p
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright &copy;
            script.
              document.write(new Date().getFullYear());
            |  All rights reserved | This template is made
            |               with 
            i.icon-heart(aria-hidden='true')
            |  by 
            a.text-primary(href='https://colorlib.com' target='_blank') Colorlib
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
script(src='js/jquery-3.3.1.min.js')
script(src='js/jquery-ui.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/aos.js')
script(src='js/main.js')
