doctype html

html(lang='en')
  body
    table.table.table-striped
      tr
        th Name
        th Provider
        th Manufaturer
        th Price
        th Edit


      each n in medList
        tr
          td= n.medicineName
          td= n.medicineProvider.medicineProviderName
          td= n.medicineManufacturer.medicineManufacturerName
          td= n.medicinePrice
          td
           a(href= "/medicines/edit/" + n._id) Edit